<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="container">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title">
                            <h1>Inserisci le tue generalità</h1>
                        </div>
                        <form #heroForm="ngForm" class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="nickName">NickName</label>
                                    <input type="text" class="form-control" id="nickName" required
                                        [(ngModel)]="model.nickName" name="nickName">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="gender">Genere</label>
                                    <select class="form-control" id="power" required [(ngModel)]="model.gender"
                                        name="gender">
                                        <option *ngFor="let sex of genders" [value]="sex">{{sex}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="age">Età</label>
                                    <input type="number" id="age" name="age" min="3" max="120" class="form-range"
                                        required [(ngModel)]="model.age">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <input type="checkbox" id="authorization" name="authorization" required
                                        [(ngModel)]="model.auth">
                                    <label for="authorization">Acconsento alla registrazione video del mio volto ai fini
                                        di catturare le prime reazioni.</label>

                                </div>
                            </div>


                            <div class="col-12">
                                <div class="row justify-content-between">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-success"
                                            (click)="onSubmit()">Registrazione</button>
                                    </div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-success"
                                            (click)="goToHomePage()">Annulla</button>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="background-color: #615b5b6c; height: 100%;">
            <h4>A tua conoscenza</h4>
            <p>Le tue generalità sono solo a scopo statistico.</p>
        </div>
    </div>
</div>