<div class="container-fluid">
    <div class="w-100 p-3">
        <div class="row">
            <div class="col-6 d-grid gap-2">
                <button type="button" class="btn btn-primary btn-lg" style="height: 395px;" (click)="goToAdmin()">Login</button>
            </div>
            <div class="col-6 d-grid gap-2">
                <button type="button" class="btn btn-secondary btn-lg" style="height: 395px;" (click)="goToSurvey()">Register</button>
            </div>
        </div>
    </div>
</div>